
header {
    
}

.navBar{
    background-color: var(--white);

    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 1.6rem 0;
}

.containerLogo{
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.input input {
    width: 20rem;
    height: 28px;
    border-radius: 3px;
    background-color: var(--off-white);
    border: 1px solid var(--very-light-gray);
    text-align: center;
    color: var(--dark-gray);
    font-weight: 400;
    font-size: 1.2rem;
}

.icons{
    display: flex;
    gap: 2.0rem;
}